#header {
    .header_div {
        display: flex;
        align-items: center;
        width: 90%;
        height: 116px;
        justify-content: space-between;
        margin: auto;

        p {
            font-size: 16px;
            color: white;
            text-transform: uppercase;
        }

        .header_search_phone {
            display: flex;

            .header_search {
                position: relative;
                margin-right: 84px;

                input {
                    height: 51px;
                    width: 500px;
                    padding: 16px 24px;
                    padding-right: 70px;
                    border: 1px solid #888888;
                }

                button {
                    padding: 9px;
                    padding-right: 20px;
                    background-color: white;
                    position: absolute;
                    right: 1px;
                    top: 1px;
                }
            }

            .header_phone {
                display: flex;
                justify-content: space-between;

                a {
                    font-size: 24px;
                    font-weight: 700;
                    color: $primary-color;
                }
            }
        }
    }

    .header_menu {
        width: 90%;
        margin: auto;
        background-color: $primary-color;
        height: 46px;

        .header_menu_left {
            width: 326px;
            .menu_left_wrap{
                .category_hover {
                    background-color: #888888;
                    a {
                        display: block;
                        padding: 11px 63px;
                        position: relative;
                        color: #FFFFFF;
                    }
                    .a_category:before {
                        position: absolute;
                        content: '';
                        background: url(../svg/dashicons_menu.svg);
                        width: 30px;
                        height: 30px;
                        color: #FFFFFF;   
                        left: 25px;
                        bottom: 7px;
                    }
                    .menu_left_div {
                        .menu_left {
                            display: none;
                            li.menu-item {
                                ul.sub-menu {
                                    display: none;
                                }
                            }
                        }
                    }
                    .menu_left li:hover{
                        & > a {
                            background-color: red;
                        }
                        .sub-menu {
                            display: block !important;
                        }
                    }
                    
                    
                    &:hover {
                        .menu_left_div {
                            .menu_left {
                                display: block !important;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}
