@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
.post_new {
    .div {
        .div_post {
            .post_title {
                margin-top: 60px;
                h2 {
                    font-size: 24px;
                    font-weight: 700;
                    color: #000000;
                    font-family: 'Lato', sans-serif;
                    margin-bottom: 0;
                }
                p {
                    display: inline-block;
                    margin-left: 8px;
                    font-size: 15px;
                    color: #333333;
                    margin-top: 16px;
                }
                .p_up_by {
                    position: relative;
                    margin-left: 20px;
                }
                .p_up_by::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    background-color: #333333;
                    position: absolute;
                    border-radius: 50%;
                    top: 8px;
                    left: -15px;
                }
            }
            .post_content {
                .text_content{
                        font-size: 16px;
                        color: #444444;
                        font-family: 'Lato', sans-serif;
                }
                .img_content {
                    position: relative;
                    padding-top: 53.275%;
                    margin-bottom: 16px;
                    img {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .div_share {
            margin-top: 16px;
            display: flex;
            gap: 0 25px;
            p {
                font-size: 18px;
                color: #3B3663;
            }
            .share_icon {
                display: flex;
                gap: 0 6px;
            }
        }
        .news_related_product {
            margin-top: 60px;
            background-color: #F6F6F6;
            h2 {
                padding-top: 45px;
                padding-left: 18.6px;
                color: #F6A822;
                font-size: 24px;
                font-weight: 700;
            }
        }
        .product_related {
            .product_new_items {
                margin-top: 16px;
                padding: 10px;
                background-color: #F6F6F6;
                margin-bottom: 39px;
                .div_img {
                    .product_new_img {
                        padding-top: 96.414%;
                        position: relative;
                        overflow: hidden;
        
                        img {
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
        
                .product_new_name {
                    text-align: center;
                    margin-top: 23.5px;
        
                    p {
                        font-size: 18px;
                        color: #555555;
                    }
                }
        
                .product_new_price {
                    margin-top: 15.5px;
                    display: flex;
                    justify-content: space-around;
        
                    del {
                        color: #6B6B6B;
                        font-weight: 500;
                    }
        
                    ins {
                        color: #FF0000;
                        font-size: 30px;
                        font-weight: 500;
                    }
                }
            }
        }
        .related_news {
            margin-top: 60px;
            .related_news_div {
                .news_heading {
                    h2 {
                        font-size: 25px;
                        font-weight: 700;
                        color: #000000;
                        font-family: 'Lato', sans-serif;
                    }
                }
                .news_item {
                    margin-top: 16px;
                    .item_img {
                        position: relative;
                        padding-top: 64.878%;
                        overflow: hidden;
                        img {
                            transition: all 0.3s ease-in-out 0s;
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                        }
                        &:hover {
                            img {
                                transform: scale(1.1);
                                transition: 0.5s;
                            }
                        }
                    }
                    .item_title {
                        margin-top: 12px;
                        a {
                            font-size: 18px;
                            color: #000000;
                        }
                    }
                    .item_date_post {
                        margin-top: 7px;
                        p {
                            color: #F6A822;
                            margin-bottom: 0;
                        }
                    }
                    .item_desc {
                        margin-top: 8px;
                        -webkit-line-clamp: 4 !important;
                        list-style: 150%;
                        p {
                            font-size: 16px;
                            color: #444444;
                        }
                    }
                    .text-line {
                        display: -webkit-box !important;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}